<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpack">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:manageSpaceActivity=".topics.appdatafiles.StorageActivity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jetpack">
        <activity android:name=".topics.anim.Transition1Activity"></activity>
        <activity android:name=".topics.anim.TransitionActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".topics.network.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".architecturecomponent.uilibs.databinding.DataBinding2Activity"
            android:exported="false" />
        <activity android:name=".architecturecomponent.uilibs.paging.PagingActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".architecturecomponent.uilibs.databinding.DataBindingActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".topics.navigation.NavigationActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->


            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
            <nav-graph android:value="@navigation/nav_graph" />
        </activity>
        <activity android:name=".bestpractice.dependencyinjection.HiltActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".topics.appdatafiles.room.RoomActivity">
            <!--             <intent-filter>-->
            <!--             <action android:name="android.intent.action.MAIN" />-->
            <!--             <category android:name="android.intent.category.LAUNCHER" />-->
            <!--             </intent-filter>-->
        </activity>
        <activity android:name=".topics.appdatafiles.ContentProviderActivity" />
        <activity android:name=".topics.appdatafiles.MediaRelatedActivity" />
        <activity android:name=".topics.appdatafiles.SharedActivity" />
        <activity android:name=".topics.appdatafiles.StorageActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".architecturecomponent.uilibs.lifecycle.livedata.TestActivity" />
        <activity android:name=".architecturecomponent.uilibs.lifecycle.HandlerLifeCircle3Activity" />
        <activity android:name=".architecturecomponent.uilibs.lifecycle.TestActivity" />
        <activity android:name=".architecturecomponent.uilibs.lifecycle.HandlerLifeCircle2Activity" />
        <activity android:name=".architecturecomponent.uilibs.lifecycle.HandlerLifeCircle1Activity" />
        <activity
            android:name=".architecturecomponent.uilibs.lifecycle.MyActivity"
            android:label="@string/title_activity_my"
            android:theme="@style/Theme.Jetpack.NoActionBar" />
        <activity android:name=".architecturecomponent.uilibs.lifecycle.HandlerLifeCircleActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".topics.service.ForegroundActivity" />
        <activity
            android:name=".topics.userinterface.notification.ExcludeFromRecentsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="aa.aa" />
        <activity android:name=".topics.userinterface.notification.Notification2Activity" />
        <activity android:name=".topics.userinterface.notification.FullScreenActivity" />
        <activity
            android:name=".topics.userinterface.notification.Notification1Activity"
            android:parentActivityName=".topics.userinterface.notification.NotificationActivity" />
        <activity android:name=".topics.userinterface.notification.NotificationActivity">

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->


            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <service
            android:name=".topics.service.ForegroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|camera|microphone" />
        <service
            android:name=".topics.service.BindService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".topics.service.ServicePracticeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".topics.service.StartService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".architecturecomponent.datalibs.work.WorkManagerActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".architecturecomponent.datalibs.DataStoreActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".entrypoint.activities.FlagNewTask3Activity"
            android:taskAffinity="cc.cc" />
        <activity
            android:name=".entrypoint.activities.FlagNewTask2Activity"
            android:taskAffinity="cc.cc" />
        <activity android:name=".entrypoint.activities.FlagNewTask1Activity" />
        <activity android:name=".entrypoint.activities.FlagNewTaskActivity" />
        <activity
            android:name=".entrypoint.activities.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".entrypoint.activities.SingleTask3Activity" />
        <activity android:name=".entrypoint.activities.SingleTask2Activity" />
        <activity android:name=".entrypoint.activities.SingleTask1Activity" />
        <activity android:name=".entrypoint.activities.SingleTop1Activity" />
        <activity
            android:name=".entrypoint.activities.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".entrypoint.activities.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity android:name=".entrypoint.activities.TaskBackStackActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".entrypoint.activities.TestActivity" />
        <activity android:name=".entrypoint.activities.LifeCycle1Activity" />
        <activity android:name=".entrypoint.activities.LifeCycleActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".architecturecomponent.uilibs.SavedStateActivity" />
        <activity android:name=".architecturecomponent.uilibs.lifecycle.livedata.LiveDataActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".architecturecomponent.uilibs.lifecycle.viewModel.ViewModelActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".fragment.TransactionActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".fragment.FragmentManagerActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".fragment.PracticeActivity" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".topics.userinterface.notification.NotificationBroadcast"
            android:exported="false" />
    </application>

</manifest>
